<h1><%= @title %></h1>

<% @users.each do |user| %>
<table>
<tr>
  <td><%= link_to gravatar_for(user, size: 30), user %></td>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>
</table>
<% end %>